In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/adrianabrazon/Documents/IronHack/final_project/Animal_Shelter_Intake_and_Outcome_20240413.csv')

In [4]:
df.describe()

       Days in Shelter  Outcome Zip Code         Count
count     27550.000000      23603.000000  27550.000000
mean         19.269474      95013.451087      0.994265
std          36.717492       3804.087287      0.075514
min           0.000000       1922.000000      0.000000
25%           1.000000      95401.000000      1.000000
50%           9.000000      95404.000000      1.000000
75%          24.000000      95425.000000      1.000000
max        1239.000000      99701.000000      1.000000

In [5]:
df.columns

Index(['Name', 'Type', 'Breed', 'Color', 'Sex', 'Size', 'Date Of Birth',
       'Impound Number', 'Kennel Number', 'Animal ID', 'Intake Date',
       'Outcome Date', 'Days in Shelter', 'Intake Type', 'Intake Subtype',
       'Outcome Type', 'Outcome Subtype', 'Intake Condition',
       'Outcome Condition', 'Intake Jurisdiction', 'Outcome Jurisdiction',
       'Outcome Zip Code', 'Location', 'Count'],
      dtype='object')

In [16]:
def clean_columns(df):
    df.columns = df.columns.str.lower().str.strip().str.replace(" ", "_")
    return df

In [17]:
df = clean_columns(df)
df.columns

Index(['name', 'type', 'breed', 'color', 'sex', 'size', 'date_of_birth',
       'impound_number', 'kennel_number', 'animal_id', 'intake_date',
       'outcome_date', 'days_in_shelter', 'intake_type', 'intake_subtype',
       'outcome_type', 'outcome_subtype', 'intake_condition',
       'outcome_condition', 'intake_jurisdiction', 'outcome_jurisdiction',
       'outcome_zip_code', 'location', 'count'],
      dtype='object')

In [18]:
df.isna().sum()

name                    7222
type                       0
breed                      0
color                      0
sex                        0
size                      36
date_of_birth           6786
impound_number             0
kennel_number             10
animal_id                  0
intake_date                0
outcome_date             185
days_in_shelter            0
intake_type                0
intake_subtype             0
outcome_type             191
outcome_subtype          522
intake_condition           0
outcome_condition        545
intake_jurisdiction        0
outcome_jurisdiction    3917
outcome_zip_code        3947
location                3947
count                      0
dtype: int64

In [24]:
pd.set_option('display.max_columns', 500)

numeric_columns = df.select_dtypes(include='number')
object_columns = df.select_dtypes(include='object')

In [29]:
numeric_columns.describe()

       days_in_shelter  outcome_zip_code         count
count     27550.000000      23603.000000  27550.000000
mean         19.269474      95013.451087      0.994265
std          36.717492       3804.087287      0.075514
min           0.000000       1922.000000      0.000000
25%           1.000000      95401.000000      1.000000
50%           9.000000      95404.000000      1.000000
75%          24.000000      95425.000000      1.000000
max        1239.000000      99701.000000      1.000000

In [31]:
object_columns.describe()

,name,type,breed,color,sex,size,date_of_birth,impound_number,kennel_number,animal_id,intake_date,outcome_date,intake_type,intake_subtype,outcome_type,outcome_subtype,intake_condition,outcome_condition,intake_jurisdiction,outcome_jurisdiction,location
count,20328,27550,27550,27550,27550,27514,20764,27550,27540,27550,27550,27365,27550,27550,27359,27028,27550,27005,27550,23633,23603
unique,7246,3,1074,352,5,7,6148,27550,163,24789,3563,3156,7,33,9,243,5,6,13,12,734
top,BUDDY,DOG,DOMESTIC SH,BLACK/WHITE,Neutered,SMALL,05/01/2023,K24-047892,LOBBY,A322298,05/15/2023,10/26/2019,STRAY,FIELD,RETURN TO OWNER,WALKIN,HEALTHY,HEALTHY,SANTA ROSA,SANTA ROSA,"95407(38.4127094, -122.7412153)"
freq,152,15537,7547,3103,8910,10715,25,1,1805,19,70,69,20066,10768,9200,3717,12884,16493,13326,8723,3791

In [20]:
df.duplicated().sum()

0